venv
*.egg-info
*.ipr
*.iws
*.iml
.idea
__pycache__
*.py[cod]
carnival_tasks.py
carnival_tasks.1
doc
docs/build
carnival_tasks
build
dist
.mypy_cache
templates
contrib
.DS_Store
.coverage
.ideaDataSources
.env
